* {
  margin: 0%;
  padding: 0%;
}
body {
  background-color: #000;
  color: #fff;
}
header {
  text-align: center;
  margin-top: 10px;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

#search {
  margin-top: 10px;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  background-color: #00e1ff;
}

h4 {
  margin-top: 15px;
}
#result {
  font-size: larger;
}
#currencyConverter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  height: 280px;
  width: 300px;
  background-color: #223e41;
  border-radius: 20px;
  border: solid 3px #00e1ff;
}

.in {
  border-radius: 10px;
  height: 35px;
  width: 200px;
  text-align: center;
}

#todayDates {
  color: #d8fb16;
  margin-top: 10px;
}
#exchangeDate {
  color: #37c25a;
  margin-top: 10px;
}
#messageServer {
  color: #b5a9e3;
  margin-top: 10px;
}

#mychart {
  border: solid 3px #00e1ff;
  border-radius: 20px;
  margin-top: 20px;
}
#chartContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #000;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
}
.table_head {
  border-radius: 5px;
  border-style: double;
  width: 98%;
  margin-top: 10px;
  margin-left: 20px;
}
.table_body {
  border-radius: 5px;
  border-style: double;
  width: 98%;
  margin-left: 20px;
}
.title_list {
  border: 1px solid #fff;
  background-color: #223e41;
  color: #fff;
}
.title_dat {
  border: 1px solid #fff;
  background-color: #8faecb;
  color: #000;
}
tr {
  text-align: center;
  width: 100px;
}

td {
  border: 1px solid #fff;
  width: 100px;
}

th {
  width: 100px;
}

.section_reg {
  margin-top: 25px;
  margin-right: 750px;
  align-items: initial;
}
#canvas_container {
  margin-left: 450px;
  display: flex;
  position: fixed;
}
